.about-blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.about-blocks .service-block {
  border-radius: var(--radius);
  border: none;
}

.about-block--mission {
  background-image: url('/images/services/about-mission.jpg');
}
.about-block--certification {
  background-image: url('/images/services/about-certification.jpg');
}
.about-block--reach {
  background-image: url('/images/services/about-reach.jpg');
}
